.container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.name {
  font-size: 16px;
  margin-left: 16px;
}

.logo {
  height: 32px;
  width: 32px;
  border-radius: 99999px;
  object-fit: contain;
  border: 1px solid rgba(223, 226, 230, 1);
}
