.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backIcon {
  cursor: pointer;
  margin-right: auto;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
