.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backIcon {
  cursor: pointer;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
